<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Blog Nestjs</a></h1>
      <div class="user-actions">
        <% if (user) { %>
        <span>Bem Vindo, <%= user.username %></span>
        <a href="/posts/new" class="new-post-btn">Nova Postagem</a>
        <a href="/auth/logout">Sair</a>
        <% } else { %>
        <a href="/auth/login">Entrar</a>
        <a href="/users/register">Cadastre-se</a>
        <% } %>
      </div>
    </header>
    <main>